In [1]:
print("hello world")

hello world

In [2]:
name = input("whats ur name?")

whats ur name?ace

In [3]:
print(name)

ace

In [5]:
a=12

In [2]:
b=23.454

In [7]:
c="a"

In [18]:
d=4+2j

In [10]:
type (a)

int

In [3]:
type(b)

float

In [12]:
type(c)

str

In [19]:
type(d)

complex

In [20]:
a=2398

In [21]:
b=12

In [22]:
a+b

2410

In [23]:
a-b

2386

In [24]:
a*b

28776

In [25]:
a/b

199.83333333333334

In [26]:
a//b

199

In [27]:
a%b

10

In [28]:
divmod(a,b)

(199, 10)

In [30]:
e=-23211

In [31]:
abs(e)

23211

In [32]:
round(a/b)

200

In [33]:
round(a/b,2)

199.83

In [39]:
a=input("enter no")

enter no43

In [36]:
type(a)

str

In [37]:
type(b)

str

In [43]:
a=int(a)

In [44]:
type(a)

int

In [45]:
a**45

32068636955638964644302091603013447460711607634633358021240791550942692443

In [46]:
pow(a, 45)

32068636955638964644302091603013447460711607634633358021240791550942692443

In [47]:
6 &3 #bitwise operation (and)

2

In [48]:
7&3

3

In [49]:
if 5>2:
    print("hello")

hello

In [52]:
if 5>2:
print("hello")

IndentationError: expected an indented block after 'if' statement on line 1 (1952327444.py, line 2)

### variables

In [57]:
#comment (also *** *** can be used as comment)

In [4]:
myvar=2819

In [5]:
my_var=12321

In [6]:
_my_var=19

In [7]:
myVar=6577

In [8]:
MYVAR=78

In [9]:
myvar2=678

In [10]:
2myvar=90

SyntaxError: invalid decimal literal (2542746802.py, line 1)

In [11]:
my-var=67

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (392088811.py, line 1)

In [12]:
my var=57

SyntaxError: invalid syntax (1123247088.py, line 1)

# string

#### size

In [31]:
a= 'string'

In [32]:
b="string"

In [51]:
c='''multi line 
string'''

In [29]:
print(a)
print(b)
print(c)

10
10
10

In [33]:
a+b

'stringstring'

In [35]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [36]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [38]:
a*5

'stringstringstringstringstring'

In [54]:
c.count(c)

1

In [41]:
a.upper()

'STRING'

In [42]:
a.lower()

'string'

In [44]:
a.capitalize()

'String'

In [58]:
a.replace("u","r") #to replace a letter in the word

'cornt'

In [24]:
a,b=2,5

In [25]:
print(a)
print(b)

2
5

In [26]:
a=b=c=d=10

In [27]:
print(a)
print (b)
print(c)
print(d)

10
10
10
10

# --------------------------------------------------------------------------------------------------------------

In [59]:
d=" kmc "

In [63]:
d.strip() #remove space

'kmc'

In [64]:
for i in a:
    print(i)

c
o
u
n
t

### string slicing

In [86]:
q="this is avocado"

In [79]:
q[5] #starting from 0 and counting space

'i'

In [80]:
q[-1] # taking out a letter from last use -

'o'

In [83]:
q[0:5] #from 0 to 4th letter as first value is included and last value is excluded i.e [0,5)

'this '

In [90]:
q[-9:-1] #count from left to right all the time

's avocad'

In [91]:
p="this is aeroplane"

In [96]:
p[-9:0] #last value cannot be displayed

''

In [97]:
p[-9:] #but without writing anything we can display upto last letter starting from the 9th letter

'aeroplane'

In [98]:
p[:5] #displays all the first letters upto 5th

'this '

### Escape characters

In [2]:
print("he said, \"I am god.\" to his mom. ") # \" used to insert double quote inside string

he said, "I am god." to his mom.

In [3]:
print("my mother\'s name is missy.") # \' used to insert a single quote

my mother's name is missy.

In [4]:
print("the title is \n in next line") # \n used to break line

the title is
 in next line

In [8]:
print(" the title is \r in next line") # \r used to

 in next line

In [14]:
print("Removing so\bme  character") # \b backspace used to remove a character

Removing some  character

In [15]:
print("giving \t tab") # \t used to insert tab

giving 	 tab

In [16]:
print("oh to insert \\ backslash")

oh to insert \ backslash

### bool data type

In [7]:
a= True

In [8]:
type(a)

bool

In [9]:
b=10

In [10]:
a+b # true=1 and false=0

11

In [11]:
d= False

In [12]:
a+d

1

In [13]:
a+"string"

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

In [14]:
str(a)+"hello"

'Truehello'

In [15]:
int(a)+20

21

In [16]:
a=2,3 #not usually possible

In [17]:
type(a)

tuple

In [18]:
a=(2,3)

In [19]:
type(a)

tuple

### list

In [20]:
e=[a, b, "c"]

In [21]:
e=[2, 3, 8.9]

In [22]:
o=["s", "u"]

In [23]:
n= ["name", 34, "stu", 89, "asa", 90]

In [24]:
p=[["sdi", "ijo"], #2d list
  [291, 129],
  ["p", 2]]

In [25]:
type(p)

list

In [26]:
r=[[2,["A", 9],0],
  ["name", "IAS"],]

In [27]:
n[4]="ava" #changing a element from n thats in 4th position

In [28]:
n

['name', 34, 'stu', 89, 'ava', 90]

In [29]:
p[1][0]=890 #changing item from 2d list thats in 1st ko 0 position

In [30]:
p

[['sdi', 'ijo'], [890, 129], ['p', 2]]

In [31]:
s=["apple", "orange", "fig", "berry","mango", "litchi"]
print(s)

['apple', 'orange', 'fig', 'berry', 'mango', 'litchi']

In [32]:
print(s[2]) #accessing a value

fig

In [33]:
s[3]="strawberry" #changing a value

In [34]:
s.append("watermelon") #adding a value (only single value, adds to the last of the list)

In [35]:
print(s)

['apple', 'orange', 'fig', 'strawberry', 'mango', 'litchi', 'watermelon']

In [36]:
s.insert(2, "peach") #adding a single value

In [37]:
s

['apple',
 'orange',
 'peach',
 'fig',
 'strawberry',
 'mango',
 'litchi',
 'watermelon']

In [38]:
newfruit=["kiwi", "avocado", "plumberry"]

In [39]:
s.extend(newfruit)

In [40]:
s

['apple',
 'orange',
 'peach',
 'fig',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'plumberry']

In [41]:
s.remove("fig") #removing a item
print(s)

['apple', 'orange', 'peach', 'strawberry', 'mango', 'litchi', 'watermelon', 'kiwi', 'avocado', 'plumberry']

In [42]:
s.pop() #removing last item

'plumberry'

In [135]:
b=s.copy()

In [136]:
print(b)

['apple', 'orange', 'peach', 'strawberry', 'mango', 'litchi', 'watermelon', 'kiwi', 'avocado']

In [141]:
del s[0] #deleting 0 position ko element (del deletes the whole list if position isnt specified)

In [142]:
s

['orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry']

In [143]:
b.clear() #removes data of list

In [144]:
print(b)

[]

In [145]:
for i in s:  #value of i starts from 0 upto end value of s
    print(i)

orange
peach
strawberry
mango
litchi
watermelon
kiwi
avocado
kiwi
avocado
plumberry

In [146]:
len(s) #shows length of list

11

### tuple

In [147]:
t=tuple(s) #converting list s into tuple

In [163]:
t #tuple contains elements inside small bracket, there is no position of items in tuple

('orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry')

In [151]:
t[0] #accessing the value

'orange'

In [152]:
t[0]="app" #changing the value (we cant assign new values so error), we usually use tuple to store values that shouldnt be changed once assigned

TypeError: 'tuple' object does not support item assignment

In [153]:
print(type(t))

<class 'tuple'>

In [160]:
len(t)

11

In [164]:
a,b,c=t #unpacking error cz i havent updated

ValueError: too many values to unpack (expected 3)

In [166]:
t+t

('orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry',
 'orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry')

In [167]:
t*4

('orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry',
 'orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry',
 'orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry',
 'orange',
 'peach',
 'strawberry',
 'mango',
 'litchi',
 'watermelon',
 'kiwi',
 'avocado',
 'kiwi',
 'avocado',
 'plumberry')

### set

In [43]:
v={"ram", "shyam", "hari", "geeta"}
print(type(v))

<class 'set'>

In [44]:
len(v)

4

In [45]:
v[0] #we cant access values in set

TypeError: 'set' object is not subscriptable

In [46]:
for i in v: #accessing value , prints randomly cz it cant be indexed
    print(i)

shyam
geeta
hari
ram

In [47]:
v.add("pamita") #adding values in set

In [48]:
print(v)

{'ram', 'geeta', 'pamita', 'shyam', 'hari'}

In [49]:
b={"ramesh", "vamesh"}

In [50]:
v.update(b)

In [51]:
print(v)

{'ramesh', 'vamesh', 'ram', 'geeta', 'pamita', 'shyam', 'hari'}

In [52]:
l=["kamlesh", "bimlesh"]

In [53]:
v.update(l) #we can add values form list in set

In [54]:
print(v)

{'ramesh', 'vamesh', 'ram', 'geeta', 'kamlesh', 'pamita', 'bimlesh', 'shyam', 'hari'}

In [55]:
v.remove("pamita") #removing value from set

In [56]:
v.remove("binod") #remove doenst remove values from set that are not in the list

KeyError: 'binod'

In [57]:
v.discard("binod") #but discard removes the values if present else doesnt do anything

In [58]:
print(v)

{'ramesh', 'vamesh', 'ram', 'geeta', 'kamlesh', 'bimlesh', 'shyam', 'hari'}

In [59]:
v.pop()

'ramesh'

In [196]:
v.update({"ramu", "kamu"}) #adding set

In [197]:
print(v)

{'ramu', 'geeta', 'shyam', 'ramesh', 'bimlesh', 'kamu', 'kamlesh'}

### dictionaries

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [10]:
print(len(thisdict))

3

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [12]:
thisdict["year"] = 2018 #changing value

In [13]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [14]:
thisdict.update({"year": 2020}) #changing value

In [15]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [16]:
thisdict["color"] = "red" #adding item
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

In [17]:
thisdict.update({"color": "blue"}) #adding item
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'blue'}

In [18]:
thisdict.pop("model") #removing item
print(thisdict)

{'brand': 'Ford', 'year': 2020, 'color': 'blue'}

In [19]:
thisdict.clear() #clears all items
print(thisdict)

{}

In [20]:
thisdict = dict(name = "John", age = 36, country = "Norway") #another way of creating dictionary but not in use anymore
print(thisdict)

TypeError: 'dict' object is not callable

In [31]:
for x in thisdict: #prints all keynames
  print(x)

name
age
country

In [32]:
for x in thisdict: #prints all values
  print(thisdict[x])

John
36
Norway

In [33]:
mydict = thisdict.copy() #copying a dictionary
print(mydict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

### if conditional

In [223]:
a=223

In [224]:
b=123

In [225]:
if (a>b):
    print("a is greatest")
else:
    print("b is greatest")

a is greatest

In [226]:
if (a>0):
    print("a is positive")
elif (a<0):
    print("a is negative")
else:
    print("a is zero")

a is positive

In [227]:
if a > b: print("a is greater than b") #shorthand if (if theres only one line that needs to be print)

a is greater than b

In [228]:
print("A") if a > b else print("B") #shorthand if else

A

In [229]:
if b > a: #if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.
  pass

### dictionary2

In [230]:
dict={
    "name":"Mili",
    "address":"ktm",
    "roll no":98,
}

In [231]:
dict

{'name': 'Mili', 'address': 'ktm', 'roll no': 98}

In [232]:
dict[1]

KeyError: 1

In [233]:
dict.get("name") #accesing value using a key

'Mili'

In [234]:
dict.values() #accessing values

dict_values(['Mili', 'ktm', 98])

In [235]:
dict.keys() #accessing keys

dict_keys(['name', 'address', 'roll no'])

In [236]:
dict["name"]="sili"

In [237]:
dict

{'name': 'sili', 'address': 'ktm', 'roll no': 98}

In [238]:
dict.update({"name":"eren"})

In [239]:
dict

{'name': 'eren', 'address': 'ktm', 'roll no': 98}

In [240]:
dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [241]:
dict.pop("name")

'eren'

In [242]:
dict

{'address': 'ktm', 'roll no': 98}

In [243]:
dict.popitem() #removes last item
dict

{'address': 'ktm'}

In [244]:
del dict["address"]

In [245]:
dict

{}

In [246]:
dict.update({"color": "blue", "type": "satin"})

In [247]:
dict

{'color': 'blue', 'type': 'satin'}

In [248]:
dict["name"]="geet"

In [249]:
dict

{'color': 'blue', 'type': 'satin', 'name': 'geet'}

In [250]:
c=dict.copy() #del,copy,clear works in all list,set,tuple and dictionary

In [251]:
c

{'color': 'blue', 'type': 'satin', 'name': 'geet'}

In [252]:
c.clear()

In [253]:
c

{}

In [254]:
del c

In [255]:
c

NameError: name 'c' is not defined

In [256]:
for i,j in dict:
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [257]:
for i in dict:
    print(i)

color
type
name

In [258]:
for i in dict.values():
    print(i)

blue
satin
geet

In [259]:
for i,j in dict.items():
    print(f'the name of {i} is {j}')

the name of color is blue
the name of type is satin
the name of name is geet

In [260]:
class_day={"mili": {"phy":90, "chem":23, "nep":34}, "pis":{"phy":42, "chem":87, "nep":90}} #nested dictionary

In [261]:
class_day

{'mili': {'phy': 90, 'chem': 23, 'nep': 34},
 'pis': {'phy': 42, 'chem': 87, 'nep': 90}}

In [262]:
class_day["mili"]["chem"] #accessing value in nested list

23

In [263]:
class_day.get("mili")

{'phy': 90, 'chem': 23, 'nep': 34}

In [264]:
class_day["mikasa"]={"chem":67, "phy":89}

In [265]:
class_day

{'mili': {'phy': 90, 'chem': 23, 'nep': 34},
 'pis': {'phy': 42, 'chem': 87, 'nep': 90},
 'mikasa': {'chem': 67, 'phy': 89}}

In [266]:
class_day.pop("pis")
class_day

{'mili': {'phy': 90, 'chem': 23, 'nep': 34}, 'mikasa': {'chem': 67, 'phy': 89}}

In [267]:
class_day["mili"].pop("phy") #removing a item of a nested list(mili ko phy ko mrks)
class_day

{'mili': {'chem': 23, 'nep': 34}, 'mikasa': {'chem': 67, 'phy': 89}}

### if else

In [2]:
a=int(input("enter marks: "))
if a>=40:
    print("pass")
else:
    print("fail")

enter marks: 12
fail

In [1]:
b=int(input("enter marks :")) #grading system
if b>=90:
    print("A+")
elif b<90 and b>=80:
    print("A")
elif b<80 and b>=70:
    print("B+")
elif b<70 and b>=60:
    print("B")
elif b<60 and b>=50:
    print("c+")
elif b<50 and b>=40:
    print("c")
else:
    print("NG")

enter mrks :78
B+

### print formatting

In [270]:
c="ram"
mrks=12

In [271]:
print(f"the marks of {c} is {mrks}") #print formatting: formatting the output where f= formatting, to print value of variable we keep the variable name inside {}

the marks of ram is 12

In [273]:
print("the marks of {} is {}".format(c, mrks))

the marks of ram is 12